.rst-content code {
  color: inherit;
  font-size: 85%;
  border: none;
  padding: 0px;
  background: #f8f8f8;
}

.rst-content pre code {
  color: inherit;
  font-size: 80%;
  line-height: 1.5em;
}

p {
  line-height: 1.5em;
}
